[include]
	path = ~/.gitconfig.local

[pull]
	rebase = true

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[core]
	autocrlf = input
	editor = nvim

[rerere]
	enabled = true

[diff]
	tool = nvimdiff

[diff "daff-csv"]
	command = daff diff --git

[merge "daff-csv"]
	name = daff tabular csv merge
	driver = daff merge --output %A %O %A %B

[difftool]
	prompt = false

[difftool "nvimdiff"]
	cmd = nvim -d "$LOCAL" "$REMOTE"

[alias]
	dv = !nvim -c "DiffviewOpen"
